body {
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: #000;
}

.container {

    width: 40%;
    height: auto;
    margin: 0 auto;
    display: inline-block;

}


h2 {
    align-content: center;
    width: 700px;
    height: auto;
    margin:auto;
    margin-top: 100px;
    
}
h3  {
    
    align-content: center;
    width: 700px;
    height: auto;
    margin: 50px auto;
    text-decoration: none;
    color: #fff;
}
h3 a {

    align-content: center;
    width: 700px;
    height: auto;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

h3 a:hover {
    color: rgb(255, 255, 0);
}
p {

    width: 700px;
    height: auto;
    align-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: 300;
    margin-top: 2%;
    letter-spacing: 1px;
    line-height: 25px;
}

.bg-image {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://media.giphy.com/media/kAJHL5zAm3RK/source.gif?cid=790b76110826380ef40f056eabd684f5eddfef68d4167957&rid=source.gif&ct=g);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    display: inline-block;
}

h1 {
    font-size: 60px;
    text-align: left;
    margin: 150px 40px;
    
}

.logo {
    width: 190px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3%;
    padding: 20px 0;
}

nav ul li {
   
    position: relative;
    font-size: 14px;
    text-align: left;
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    color: white;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: font-size 0.3s ease;
}

nav ul li a:hover {
font-size: 15px;

}

button {
background: #393939;
height: 45%;
border: none;
outline: none;
padding: 15px 35px;
color: #fff;
border-radius: 3%;
margin-left: 50px;
cursor: pointer;
}

